{% extends "CarritoBundle:Carrito:layout.html.twig" %}
{% block head %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navBarHome">
    	 <div class="container-fluid">
     		<div class="navbar-header">
     
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Catalogo</a></li>
        <li><a href="{{ path("home_cargar_ABM") }}" id="accesoABM">ABM</a></li>
        </ul>
    </div>
  </div>
  </div>
  </nav>


{% block titulo %}
<title> Bienvenido a su carrito </title>
{% endblock %}
{% endblock %}

{% block body %}
<div class="bordeCarrito">
		<i class="fa fa-shopping-cart"></i> Carrito de {{ user }}
		<table id="Carrito" class="elCarrito table table-hover table-condensed">
		<thead>
			<tr>
			<th>Articulo</th>
			<th>Cantidad</th>
			<th>Precio</th>
			<th>Total</th> <!--link-->
		 	</tr>
		</thead>
		<td class='total' colspan='4'>0</tr>

</table>
		 
</div>
<br>
<br>
<div class="catalogo">
	<div style="text-align:left; font-size:18"> <b>CATALOGO</b></div> 
		<table id="Catalogo" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Precio</th>
				</tr>
			</thead>
		{% set i = 0 %}
		{% for i in 0.. (articuloDAO.articulosXPagina-1) %}
			{% if i < articuloDAO.listadoArticulos|length %}
				{% set articulo = articuloDAO.listadoArticulos[i] %}
				<tr><td>{{  articulo.nombre  }}</td>
				<td>{{articulo.precioUnitario}}</td>
				<td><a href='#' class='agregar'>Agregar</a>
				<input type= 'hidden' name='id' value='{{ articulo.id }}'>
				</td></tr>
			{% endif %}			
		{% endfor %}
		</table>
		
	<ul class="pagination">
		<li><a href="#" id="primeraPagina">&laquo;</a></li>	
		{% set j=1 %}
		{% set a = j %}
		{% for j in 1.. articuloDAO.numeroPaginas %}
		 <li><a href='#' class='pagina' id='{{ j }}'>{{ j }}</a></li>
		 {% set a = j %}
		 {% endfor %}
		 <li><a href='#' id='ultimaPagina' name='{{ a }}'>&raquo;</a></li>			
	</ul>
</div>

{% endblock %}

{% block javascript %}




<script src=" {{ asset("bundles/carrito/js/home.js") }}"></script>
<script type="text/javascript">

		$(document).ready(function(e) {
				var unHome = new Home();
				unHome.urlCambiarPagina= "{{ path('home_cambiarPagina') }}";
				unHome.urlAgregar= " {{ path('home_agregar_carrito') }}" ;
				unHome.urlEliminar= " {{ path('home_eliminar_carrito') }}";
				unHome.init();
		});


</script>
{% endblock %}