<!DOCTYPE html>

<html>


<head>
{% block head %}


{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href=" {{ asset("bundles/carrito/css/bootstrap.css") }}" />
<link rel="stylesheet" type="text/css" href=" {{ asset("bundles/carrito/CSS/bootstrap-theme.css") }}" />
<link rel="stylesheet" type="text/css" href=" {{ asset("bundles/carrito/CSS/fontawesome/css/font-awesome.css") }}" />
<link rel="stylesheet" type="text/css" href=" {{ asset("bundles/carrito/CSS/Estilo.css") }}"/>
<link rel="stylesheet" type="text/css" href=" {{ asset("bundles/carrito/CSS/DataTables/jquery.dataTables.css") }}" />
<link rel="stylesheet" type="text/css" href=" {{ asset("bundles/carrito/CSS/DataTables/jquery.dataTables_themeroller.css") }}" />
<link rel="stylesheet" type="text/css" href=" {{ asset("bundles/carrito/CSS/jquery.ui/trontastic/jquery-ui-1.10.4.custom.css") }}" />

<script src=" {{ asset("bundles/carrito/js/jq.js") }}"></script>
<script src=" {{ asset("bundles/carrito/js/jquery.dataTables.js") }}"></script>
<script src=" {{ asset("bundles/carrito/js/jquery.ui/jquery-ui-1.10.4.custom.js") }}"></script>
{% endblock %}
</head>
{% block titulo %}

{% endblock %}





<body id="body">
{% block body %}



{% endblock %}

{% block javascript %}

{% endblock %}
</body>
</html>



